#
# CLion Directories
#
/cmake*

#
# Executable Binaries
#
/OUT/
/out/

#
# Generated binaries, programs and plugins
#
*.exe
*.exe~
*.dll

#
# vscode configs
#
*.json
.vscode/*.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
